#MobilePlayer {
    display: none;
}

#DesktopPlayer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.FullScreenMobileBtn {
    position: relative !important;
    margin-right: -12px !important;
}

.MobileTimerVideo {
    color: #fff;
    margin-left: 0px;
}

.volumeSliderMobile {
    width: 80px !important;
    margin-bottom: -16px !important;
    color: #fff !important;
}

.MobileControlsBtn {
    padding: 16px;
    border: 1px solid black;
    margin-top: 35% !important;
}

.volumeSlider {
    width: 100px !important;
    margin-bottom: 10px !important;
    color: #fff !important;
}

@media all and (max-width:1400px) {
    .volumeSlider {
        margin-bottom: -15px !important;
    }
}

@media all and (max-width:600px) {
    #MobilePlayer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    #DesktopPlayer {
        display: none;
    }
    .bottomIconsMobile {
        margin-left: 150px !important;
    }
    .MobileControlsBtn {
        margin-top: 35% !important;
    }
}

@media all and (max-width:450px) {
    .MobileControlsBtn {
        margin-top: 33% !important;
    }
}

@media all and (max-width:420px) {
    .MobileControlsBtn {
        margin-top: 30% !important;
    }
}

@media all and (max-width:370px) {
    .MobileControlsBtn {
        margin-top: 27% !important;
    }
}

@media all and (max-width:340px) {
    .MobileControlsBtn {
        margin-top: 23% !important;
    }
}

@media all and (max-width:332px) {
    .MobileTimerVideo {
        font-size: 12px !important;
        margin-left: -12px !important;
    }
    .volumeSliderMobile {
        width: 50px !important;
        margin-bottom: -16px !important;
        color: #fff;
    }
}